In [21]:
import sqlite3
import requests
import pandas as pd
all_results = []
offset_ = 1
limit_ = 100
while True: 
    url = f'https://xn--80az8a.xn--d1aqf.xn--p1ai/%D1%81%D0%B5%D1%80%D0%B2%D0%B8%D1%81%D1%8B/api/kn/object?offset={offset_}&limit={limit_}&sortField=devId.devShortCleanNm&sortType=asc&objStatus=0'
    res = requests.get(url)
    objects_data = res.json()
    objects_list = objects_data.get('data').get('list')
    all_results.extend([x.get('objId') for x in objects_list])
    if len (objects_list) == 0:
        break
    offset_+=limit_
all_results[:10]

[29679, 13383, 13391, 13397, 13398, 13399, 36912, 44076, 23494, 27476]

In [22]:
df = pd.json_normalize(all_results)
df

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]

[10534 rows x 0 columns]

In [9]:
all_results.append(res.json())
df = pd.json_normalize(all_results)
df = df.applymap(str)
df

      errcode data.list data.total
0         nan       nan        nan
1         nan       nan        nan
2         nan       nan        nan
3         nan       nan        nan
4         nan       nan        nan
...       ...       ...        ...
10532     nan       nan        nan
10533     nan       nan        nan
10534     nan       nan        nan
10535       0        []    10535.0
10536       0        []    10535.0

[10537 rows x 3 columns]